/* For WebKit browsers (Chrome, Safari) */

:root {
  --primary-color: #00d8b7;
  --secondary-color: #b381de;
  --accent-color: #1f1f1f;
  --saccent-color: #ffffff;
}

body::-webkit-scrollbar {
  transition:0.2s;
  width: 10px;
  background: rgba(26, 26, 26, 0);
  
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(117, 0, 195, 0.277);
  transition:0.2s;
  border-radius: 10px; /* Set the color of the thumb (the draggable part) */
}


/* Optional: You can also style the scrollbar thumb in its various states (hover, active, etc.) */
body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(117, 0, 195, 0.578); /* Change the color on hover */
}

body::-webkit-scrollbar-thumb:active {
  background-color: rgba(117, 0, 195, 0.579); /* Change the color on click */
}
body::-webkit-scrollbar-track-piece{
  transition:0.2s;
  display: none; /* Set the color of the track (the area the thumb moves on) */
  border: none;
}

.custom-image {
  max-width: 110%; /* Ensures the image won't exceed its container's width */
  height: auto; /* Allows the image to scale proportionally */
}

#hero2 {
  width: 100%;
  height: 80vh;
  background: linear-gradient(rgba(16, 0, 16, 0.9), rgba(6, 0, 6, 0.9)), url("../img/d2.jpg") center/cover no-repeat;
  scroll-snap-align: start;
}

#hero2 .container {
  padding-top: 72px;
}

#hero2 h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero2 h2 {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 50px;
  font-size: 24px;
}

#hero2 .btn-get-started {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px 11px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px 0 0 0;
  color: #fff;
  background: #00937d;
}

#hero2 .btn-get-started:hover {
  background: #00d8b7;
}
#hero2 .hero2-img {
  text-align: center;
}
#hero2 .hero2-img img {
  width: 70%;
}


#hero2 .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
  #hero2 {
    height: 100vh;
    text-align: center;
  }

  /* #hero2 .animated {
    animation: none;
  } */

  #hero2 .hero2-img {
    text-align: center;
  }

  #hero2 .hero2-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero2 h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero2 h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #hero2 .hero2-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero2 .hero2-img img {
    width: 80%;
  }

  #hero2 .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}


/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.about .member {
  position: relative;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  transition: 0.5s;
  height: 100%;
}

.about .member .pic {
  overflow: hidden;
  width: 500px;
  border-radius: 5%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.about .member .pic img {
  transition: ease-in-out 0.3s;
}

.about .member:hover {
  transform: translateY(-10px);
}

.about .member .member-info {
  padding-left: 30px;
}

.about .member h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: #37517e;
}

.about .member span {
  display: block;
  font-size: 15px;
  padding-bottom: 10px;
  position: relative;
  font-weight: 500;
}

.about .member span::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #cbd6e9;
  bottom: 0;
  left: 0;
}

.team .member p {
  margin: 10px 0 0 0;
  font-size: 14px;
}

.about .member .social {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.about .member .social a {
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 32px;
  height: 32px;
  background: #eff2f8;
}

.about .member .social a i {
  color: #37517e;
  font-size: 16px;
  margin: 0 2px;
}

.team .member .social a:hover {
  background: #47b2e4;
}

.about .member .social a:hover i {
  color: #fff;
}

.about .member .social a+a {
  margin-left: 8px;
}

.checked {
  color: orange;
}
.unchecked {
  color:none;
  border:solid 5px orange;
}

